
body {
	background-color: rgb(230, 248, 255);
	color: rgb(127, 200, 28);
}
p {
	color: inherit;
	text-align: center;
	font-size: 25;
}
#title1 {
	text-align: center;
	font-size: 50
	color: inherit;
}
ol {
	text-align: center;
	font-size: 25;
}

a {
	color: rgb(9, 100, 197);
	font-size: 25;
}